table{
    width: 100%;
    background-color: var(--white);
}

th{
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgba(91, 131, 101, 0.5) !important;
    color: black;
}

tr:nth-child(odd) {
    background-color: rgba(135, 192, 149, 0.5) !important;
    color: black;
}

td{
    padding: 5px;
    text-align: center;
}