.playing-card{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: calc(150 * 2.5px);
    height: calc(150 * 3.5px);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px, inset 0 0 5px black;
    cursor: default;
}

.image-container{
    display: block;
    margin: 3%;
    height: 70%;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px, inset 0 0 10px black;
}

.text-container{
    display: block;
    margin: 3%;
    background-color: #333333;
    border-radius: 5px;
    height: 23%;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    font-family: 'Nanum Myeongjo', serif;
    position: relative;
    box-sizing: border-box;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px, inset 0 0 5px black;
}

.ability-description{
    font-size: smaller;
    color: #aaaaaa;
    font-family: 'Nanum Myeongjo', serif;
}

.card-quote{
    position: absolute;
    bottom: 2px;
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    padding-left: 5px;
    color: white;
    box-sizing: border-box;
    font-size: x-small;
    color: #aaaaaa;
    font-family: 'Nanum Myeongjo', serif;
    font-style: italic;
    width: 95%;
}

.card-container{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.card-number{
    float: right;
    font-style: normal;
    font-size: xx-small;
}

.card-name{
    padding-left: 5px;
    background-color: #333333;
    text-align: left;
    color: white;
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
    font-family: 'Nanum Myeongjo', serif;
    background-color: #333333;
}

.card-type{
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    padding-left: 5px;
    background-color: #333333;
    color: white;
    box-sizing: border-box;
    font-size: smaller;
    color: #aaaaaa;
    font-family: 'Nanum Myeongjo', serif;
    background-color: #333333;
}

.green-card{
    background: radial-gradient(circle at center ,#aeb18555, #aeb18555 10%, transparent 10%, transparent  20%, #aeb18555 20%, #aeb18555 30%, transparent 30%, transparent 40%, #aeb18555 40%, #aeb18555 50%, transparent 50%, transparent 60%, #aeb18555 60%, #aeb18555 70%, transparent 70%, transparent 80%, #aeb18555 80%, #aeb18555 90%, transparent 90%);
    background-size: 2em 2em;
    background-color: #545D46;
    opacity: 1;    
}

.black-card{
    background: radial-gradient(circle at center ,#000000, #000000 10%, transparent 10%, transparent  20%, #000000 20%, #000000 30%, transparent 30%, transparent 40%, #000000 40%, #000000 50%, transparent 50%, transparent 60%, #000000 60%, #000000 70%, transparent 70%, transparent 80%, #000000 80%, #000000 90%, transparent 90%);
    background-size: 2em 2em;
    background-color: #1f1f1f;
    opacity: 1
}

.blue-card{
    background: radial-gradient(circle at center ,#395a74, #395a74 10%, transparent 10%, transparent  20%, #395a74 20%, #395a74 30%, transparent 30%, transparent 40%, #395a74 40%, #395a74 50%, transparent 50%, transparent 60%, #395a74 60%, #395a74 70%, transparent 70%, transparent 80%, #395a74 80%, #395a74 90%, transparent 90%);
    background-size: 2em 2em;
    background-color: #202b32;
    opacity: 1;    
}

.white-card{
    background: radial-gradient(circle at center ,#e2d7cd, #e2d7cd 10%, transparent 10%, transparent  20%, #e2d7cd 20%, #e2d7cd 30%, transparent 30%, transparent 40%, #e2d7cd 40%, #e2d7cd 50%, transparent 50%, transparent 60%, #e2d7cd 60%, #e2d7cd 70%, transparent 70%, transparent 80%, #e2d7cd 80%, #e2d7cd 90%, transparent 90%);
    background-size: 2em 2em;
    background-color: #a7a39c;
    opacity: 1; 
}

.red-card{
    background: radial-gradient(circle at center ,#a5403a, #a5403a 10%, transparent 10%, transparent  20%, #a5403a 20%, #a5403a 30%, transparent 30%, transparent 40%, #a5403a 40%, #a5403a 50%, transparent 50%, transparent 60%, #a5403a 60%, #a5403a 70%, transparent 70%, transparent 80%, #a5403a 80%, #a5403a 90%, transparent 90%);
    background-size: 2em 2em;
    background-color: #76392f;
    opacity: 1; 
}